#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  /* text-align: center; */
}
.element::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
.element {
  overflow: -moz-scrollbars-none; /* Hides the scrollbar */
}

div::-webkit-scrollbar {
  display: none;
}